@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333741;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color: #18181B;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #FDE68A;
}